* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Poppins",Sans-serif;
}


.container
{
	width:100%;
	margin:0 auto;
	padding:0 15px;
	
}
.row{
	display:flex;
	margin-left:-15px;
	margin-right:-15px;
	flex-wrap:wrap;
}
.row > *{
	width:100%;
	padding:0 15px;
}
.col-1{
	
	width: 8.33%;
	padding:0 15px;
}
.col-2{                                             
	
	width: 16.66%;
	padding:0 15px;
}

.col-3{
	
	width: 25%;
	padding:0 15px;
}
.col-4{
	
	width: 33.33%;
	padding:0 15px;
}
.col-5{
	
	width: 41.66%;
	padding:0 15px;
}
.col-6{
	
	width: 50%;
	padding:0 15px;
}
.col-7{
	
	width: 58.33%;
	padding:0 15px;
}
.col-8{
	
	width: 66.66%;
	padding:0 15px;
}
.col-9
{
	
	width: 75%;
	padding:0 15px;
}
.col-10{
	
	width: 83.33%;
	padding:0 15px;
}
.col-11{
	
	width: 91.66%;
	padding:0 15px;
}
.col-12{
	
	width: 100%;
	padding:0 15px;
}
.align-items-center{
    align-items: center;
}
/* .top-header{
    padding-top: 5px;
} */
.logo img{
    width: 100%;
    height: auto;
}
.nav-bar{
    padding:20px 20% 0 0;
}
.nav-bar .nav-menu{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-bar .nav-menu .nav-list{

    font-size: 17px;
    color: #22205F;
}

.nav-list>a{
    display: block;
    text-decoration: none;
    padding: 0 15px;
    color: #22205F;
    font-weight: 500;
    font-family: "Poppins",Sans-serif;
}
.nav-list>a:hover{
   color:  #F04F24;

}
.start{
    padding-left: 9%;
}
.login .btns{
    text-decoration: none;
    font-size: 16px;
    /* border: solid 1px #22205F; */
    border-radius: 4px;
    display: inline-block;
    color: white;
    font-weight: 600;
    background-color: #22205F;
    padding: 8px 23px;
}

.login .btns:hover{
    background-color: #F04F24;
}



/*---------banner section---------------------------*/
.banner-section{
    padding-top: 40px;

}
.banner-section .header-title{
    
    color: #22205f;
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins",Sans-serif;
    line-height: 60px;
    margin-bottom: 20px;
 
}
.banner-section .header-description{
    font-size: 28px;
    color: #555;
}
.start-btn button{
    background-color: #22205F;
    border-radius: 5px;
    padding: 8px 25px;
    border: 1px solid #22205F;
    
}
.start-btn button a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins",Sans-serif;
    
}
.start-btn button a i{
    padding-left: 12px;
}

.banner-section .para-description{
    color: #555;
    font-size: 16px;
    padding-top: 20px;
    font-family: "Poppins",Sans-serif;
}
.banner{
    background-image: url("../image/banner/Singlebag-Homepage-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    padding:230px;
    position: relative;
    
}

.banner .symbol-1 img{
    position: absolute;
    top: -3%;
    right: 95%;
    width: 9%;
    height: auto;
}

.banner .symbol-2 img{
    position: absolute;
    top: -4%;
    right: 0%;
    width: 9%;
    height: auto;
}
.banner .symbol-3 img{
    position: absolute;
    width: 9%;
    height: auto;
    right: 5%;
    top: 82%;
}

.banner .symbol-4 img{
    position: absolute;
    width: 9%;
    height: auto;
    right: 94%;
    top: 73%;
}

/*--------------------result section-----------------*/
.best-result .result-header{
    color: #22205f;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    padding: 85px 0 20px 0;
}
.best-result .result-paragraph{
    text-align: center;
    color: #555;
    font-size: 20px;
    padding:0 0 20px 0;
   
}

.result-image img{
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #D9D9D9;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
.result-image img:hover{
    box-shadow: 0 0 10px 0 #D9D9D9;
    transform: scale(1.1);

}
.result-space{
    padding-bottom: 25px;
}


/*----------------------offer style--------------------*/
/* .offer-section{

    padding: 20px 0;
} */


.offer-section .offer-box{
    border: 1px solid #8D8D8D80;
    padding:25px;
    border-radius: 10px;
    transition: all 0.4s ease;
}
.offer-section .offer-box:hover{
    transform: scale(1.0);
    box-shadow: 0 0 10px 0 rgba(141,141,141,.5);
}
.offer-box img{
    width: 15%;
    height: auto;
    
}
.offer-section .offer-header{
    padding: 40px 0;
    color: #22205F;
    font-weight: 600;
}
.offer-space{
    padding-bottom: 27px;
}
.offer-box .offer-title{
    color: #22205F;
    font-weight: 600;
    padding: 15px 0;
}
.offer-box .offer-paragraph{
    color: #555;
    font-size: 18px;
}
.align-center{
    text-align: center;
}
.img-size{
    width: 10%;
    height: auto;
}
.offer-box1{
    border-radius: 10px;
    text-align: center;
    border: 1px solid #8D8D8D80;
    padding:25px;
    transition: all 0.6s ease;
    margin: 30px 0;
}
.offer-box1 img{
    width: 9%;
    height: auto;
}
.offer-box1 .offer-title{
    color: #22205F;
    font-weight: 600;
    padding: 15px 0;
}
.offer-box1 .offer-paragraph{
    color: #555;
    font-size: 18px;
}
.offer-section .offer-box1:hover{
    transform: scale(1.0);
    box-shadow: 0 0 10px 0 rgba(141,141,141,.5);
}


/*-----------------engaging-business style--------------*/
.engaging-business{

    padding: 50px 20px;
}
.business-header{
    color: #555;
    text-align: center;
    padding: 30px 0 10px 0;
    font-weight: 600;
}
.business-title{
    text-align: center;
    color: #22205f;
    padding-bottom: 50px;
    font-weight: 600;
}
.singlbag-store{
    background-image: url("../image/business/Singlebag-store.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 250px;
    border-radius: 10px;
}
.singlebag{
    padding-top: 120px;
    padding-left: 50px;
}

.singlebag .singlebag-header{
    color: #22205f;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.singlebag .singlebag-paragraph{
    color: #555;
    padding: 4px 0 30px 0;
    font-size: 18px;
}

.get-started a {
    text-decoration: none;
    color: #22205f;
    transition: all 0.5s ease;
    font-weight: 600;
}

/* .get-started  a{

     
} */



.get-started a i {
    color: #22205f;
    padding-left: 10px;
    transition: all 0.5s ease;
}

.get-started a i:hover {
    transform: translateX(5px);
}

/* .get-started a i:hover  {
    transform: translateX(5px);

} */

.online-business{
    background-image: url("../image/business/Grow-your-Online-business.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 250px;
    border-radius: 10px;

}
.instant-checkout{
    background-image: url("../image/business/Instant-Checkout.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 250px;
    border-radius: 10px;

}
.delivery-agent{
    background-image: url("../image/business/Your-business-Your-Delivery-Agent.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 250px;
    border-radius: 10px;

}
.flexible-point{
    background-image: url("../image/business/Flexible-Point-Of-Sale.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 250px;
    border-radius: 10px;
}
.singlebag-manage{
    background-image: url("../image/business/Singlebag-Manage-Everything.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 250px;
    border-radius: 10px;

}
.checkout-space{
    margin:50px 0;
}


/*-------ecommrec-business style-------------*/
.ecommerce-business{
    padding: 30px 0;
}
.ecommerce-business .ecommerce-header{
    color: #22205f;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 30px 0;
}
.ecommerce-box img{
    width: 85%;
    height: auto;

}
.ecommerce-box h4{
    color: #22205f;
    padding: 10px 0;
    font-weight: 600;

}
.ecommerce-box p{
    color: #555;
    font-size: 18px;
}
.ecommerce-button{

    background-color: #22205f;
    border-radius: 5px;
    border: 1px solid #22205f;
    padding: 8px 20px;
}
.ecommerce-button >  a{
    text-decoration: none;
    color: white;
    font-weight: 500;

}



/*----------------our partner style-----------------------*/
.partners{
    padding: 20px 0 80px 0;
}

.partners .partner-header{
    color: #22205f;
    font-weight: 600;
    text-align: center;
    padding: 50px 0;
}

.partner-box img{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 4px 9px 0px gray;
    opacity: 0.8;
}

.owl-carousel .owl-nav .disabled {
    display: none;
}

.partner-box .owl-carousel .owl-item img {
    display: inline-block;
    width: 2000%;
    height: auto;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 4px 9px 0px gray;
    /* filter: grayscale(1); */
    opacity: 0.8; 

} 


/*------------------store owner style------------------*/
.store-owner{
    padding: 30px 0;

}
.store-owner .store-banner{
    background-image: url("../image/store-owners/1600-px-world-map-blue-dots-svg@2x-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: white;
    padding: 80px;
}
.owner-header{
    font-weight: 600;
    color: #22205f;
    text-align: center;
    padding: 10px 0 5px 0;
}
.owner-paragraph{
    color: #555;
    text-align: center;
    padding: 5px 0 20px 0;
}


.store-box{
    background-color: #FFF;
    padding: 20px 20px 10px 20px;
    border: 1px solid #EEE;
    border-radius: 10px;

}
.store-box .store-img{
    border-radius: 50%;
    width: 12%;
}
/* .store-box .owl-carousel .owl-item img {
	
	display:inline-block;
	width:60px;
	height:auto;
	border-radius:50%;
}
.store-box .owl-carousel .owl-nav.disabled {
    display: none;
}
.owl-dots{
    text-align:center;
    margin-top:30px;
    
}

.owl-carousel button.owl-dot{
    width:12px;
    height:12px;
    border-radius:50%;
    border: 1px solid #3b4ef8;
    background-color:white;
    margin:0 3px;
    margin-bottom:0
    
    
}

.owl-carousel button.owl-dot.active{
    
    background-color:#3b4ef8;
    
} */
/* .store-span{
    display: flex;
} */
